@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

$card-color: hsl(0, 0%, 100%);
$back-color: hsl(212, 45%, 89%);
$header-color: hsl(218, 44%, 22%);
$text-color: hsl(220, 15%, 55%);
$font-stack: 'Outfit', sans-serif;